@using QuanLyThueXe.ViewModels;
@model LoTrinhViewModel

@{
    ViewBag.Title = "MenuThemLoTrinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<KhachHangViewModel> lstKH = ViewBag.MaKH as IEnumerable<KhachHangViewModel>;
}

<div class="page-content" style="min-height:1368px">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">Trang chủ</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Lộ Trình</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <h3 class="page-title">
        Thêm Lộ trình
    </h3>
    <div class="row">
        @using (Html.BeginForm("MenuThemLoTrinh", "LoTrinh", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-settings font-red" style="font-size:20px"></i>
                            <span class="caption-subject font-red sbold uppercase" style="font-size:25px">Thêm lộ trình mới</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-group">
                            <label>Tên lộ trình <span class="required" aria-required="true"> * </span></label>
                            <input type="text" name="TenLoTrinh" class="form-control isEmpty" data-Name="Tên lộ trình" placeholder="" required="">
                            <span id="trungTenLT" class="required" aria-required="true">@ViewBag.ThongBaoTrungTen</span>
                            <span style="display: block;height: 6px;color:red;" class="error-message"></span>
                        </div>
                        <div class="form-group">
                            <label>Khách hàng <span class="required" aria-required="true"> * </span></label>
                            <select class="form-control" name="MaKH" aria-required="true" aria-invalid="false" aria-describedby="select-error">
                                <option value="">Select...</option>
                                @foreach (var kh in lstKH)
                                {
                                    <option value="@kh.MaKH">@kh.TenKH</option>
                                }
                            </select><span id="select-error" class="help-block help-block-error"></span>
                            <span style="display: block;height: 6px;color:red;" class="error-message"></span>
                        </div>
                        <button type="submit" class="btn red">Thêm lộ trình</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        }
    </div>
</div>

