@using QuanLyThueXe.ViewModels;
@model IEnumerable<QuyenViewModel>
@{
    ViewBag.Title = "MenuQuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content" style="min-height:1368px">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Form Stuff</span>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Quyền
    </h3>
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red" style="font-size:20px"></i>
                        <span class="caption-subject font-red sbold uppercase" style="font-size:25px">Phân quyền</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                        <thead>
                            <tr>
                                <th> Mã chức vụ </th>
                                <th> Tên chức vụ </th>
                                <th> Phân quyền </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><span>@item.MaQuyen</span></td>
                                    <td><span name="TenAction" class="edit"> @item.TenQuyen </span></td>
                                    <td>
                                        <a href="@Url.Action("PhanQuyen","Quyen",new {@MaQuyen = item.MaQuyen })"> Phân quyền</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>

